""""""""""""""""""""
" Vundle           "
""""""""""""""""""""

set nocompatible              " be iMproved, required
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
" alternatively, pass a path where Vundle should install plugins
"call vundle#begin('~/some/path/here')

" let Vundle manage Vundle, required
Plugin 'gmarik/Vundle.vim'

Plugin 'tpope/vim-fugitive'
Plugin 'altercation/vim-colors-solarized'
Plugin 'kchmck/vim-coffee-script'
Plugin 'chase/vim-ansible-yaml'
Plugin 'tpope/vim-markdown'
Plugin 'elzr/vim-json'
Plugin 'mattn/emmet-vim'
Plugin 'scrooloose/nerdtree'
Plugin 'YankRing.vim'

call vundle#end()            " required
filetype plugin indent on    " required

" Brief help
" :PluginList       - lists configured plugins
" :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
" :PluginSearch foo - searches for foo; append `!` to refresh local cache
" :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
"

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => General
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Disable compatibility mode
set nocp
"Enable buffer
set hidden
" Paste mode
set pastetoggle=<F2>
" Encoding
set encoding=utf8

set nowrap        " don't wrap lines
set backspace=indent,eol,start " allow backspacing over everything in insert mode

"Search gestion
set ignorecase    " ignore case when searching
set smartcase     " ignore case if search pattern is all lowercase, case-sensitive otherwise
set incsearch     "show search matches as you type
set hlsearch      ""highlight search terms

"Indentation gestion
set tabstop=4 " a tab is four spaces
set softtabstop=4
set autoindent    " always set autoindenting on
set copyindent    " copy the previous indentation on autoindenting
set shiftwidth=4  " number of spaces to use for autoindenting
set shiftround    " use multiple of shiftwidth when indenting with '<' and '>'
set smarttab      " insert tabs on the start of a line according to shiftwidth, not tabstop


"Enable mouse
set mouse=a

" Set to auto read when a file is changed from the outside
set autoread
"sudo after opened
cmap w!! w !sudo tee % >/dev/null

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Map 
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" change the mapleader from \ to ,
let mapleader=","
" Quickly edit/reload the vimrc file
nmap <silent> <leader>ev :e $MYVIMRC<CR>
nmap <silent> <leader>sv :so $MYVIMRC<CR>
"clear the search buffer with ,/
nmap <silent> ,/ :nohlsearch<CR> 
map <leader>n :new<cr

nmap <silent> <A-Up> <C-W> 
nmap <silent> <A-Down> <C-W> j
nmap <silent> <A-Left> :wincmd h<CR>
nmap <silent> <A-Right> :wincmd l<CR>
:map - <C-W>-
:map + <C-W>+
:map <F3> <C-W><C-W>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => User Interface 
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Enable syntax highlighting
syn on
"set syntax on
syntax enable
filetype indent plugin on

set background=dark
colorscheme solarized

set noerrorbells         " don't beep


if has('gui_running')
	set background=light
else
	set background=dark
endif

"Line numbers
set number

"Print line of cursor
set cursorline

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Coding 
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" '(,<,{,[' gestion
set showmatch

"Twig coloration"
au BufRead,BufNewFile *.twig set syntax=htmljinja

"Shortchuts
iab bview Backbone.View.extend
iab fct ()-><CR><CR>return this;<ESC>2k
iab init initialze: () -><CR><CR>return this;<ESC>2k 
iab render render: () -><CR><CR>return this;<ESC>2k
iab lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
iab define define ["backbone", "d3"], (Backbone, d3) -><CR>"use strict"<CR> 
iab require require ["views/main""], (MainView) =><CR><CR>return this;<ESC>2k

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Files, backups and undo
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Turn backup off, since most stuff is in SVN, git et.c anyway...
set nobackup
set nowb
set noswapfile
set history=1000  " Sets how many lines of history VIM has to remember
set undolevels=1000 " use many muchos levels of undo
set wildignore=*.swp,*.bak,*.pyc,*.class
set title        
